/CMS.API/CMS.API.csproj.user
/CMS.API/.config
/CMS.API/Properties/PublishProfiles
/CMS.API/Properties/ServiceDependencies

# Compiled output
/CMS.API/bin
/CMS.API/obj
/CMS.API/debug

/CMS.API.DownloadModels/bin
/CMS.API.DownloadModels/obj
/CMS.API.DownloadModels/debug

/CMS.API.Infrastructure/bin
/CMS.API.Infrastructure/obj
/CMS.API.Infrastructure/debug

/CMS.API.Mailer/bin
/CMS.API.Mailer/obj
/CMS.API.Mailer/debug

/CMS.API.Models/bin
/CMS.API.Models/obj
/CMS.API.Models/debug

/CMS.API.Services/bin
/CMS.API.Services/obj
/CMS.API.Services/debug

/CMS.API.UploadModels/bin
/CMS.API.UploadModels/obj
/CMS.API.UploadModels/debug

Tests/CMS.API.Tests/bin
Tests/CMS.API.Tests/obj
Tests/CMS.API.Tests/debug

Tests/CMS.API.Infrastructure.Tests/bin
Tests/CMS.API.Infrastructure.Tests/obj
Tests/CMS.API.Infrastructure.Tests/debug

Tests/CMS.API.Models.Tests/bin
Tests/CMS.API.Models.Tests/obj
Tests/CMS.API.Models.Tests/debug

Tests/CMS.API.Services.Tests/bin
Tests/CMS.API.Services.Tests/obj
Tests/CMS.API.Services.Tests/debug

# IDE - VS
/.vs
