<h1 class="welcome-title">Welcome</h1>
<div class="email-card">
    <div class="email-card-contents">
        <p>
            Hello {0},<br>
            Welcome to our Member's Area.
            Your account has been setup and all that's left for you to do is to set your password
            using the button below.
        </p>
        <div class="link-button-container">
            <a class="link-button" href="https://{1}/set-password?token={2}">Set Password</a>
        </div>
    </div>
</div>
